[submodule "u-boot"]
	path = u-boot
	url = https://github.com/916BGAI/Planck-Pi-u-boot.git
	branch = v2023.10-rc4
[submodule "linux"]
	path = linux
	url = https://github.com/916BGAI/Planck-Pi-Kernel.git
	branch = 6.5.2
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/916BGAI/Planck-Pi-buildroot.git
