[submodule "linux"]
	path = linux
	url = https://github.com/916BGAI/Planck-Pi-Kernel.git
	branch = 5.2
[submodule "Buildroot"]
	path = Buildroot
	url = https://github.com/916BGAI/Planck-Pi-Buildroot.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/916BGAI/Planck-Pi-u-boot.git
	branch = v2018.01
